body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(165, 198, 132);
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
}

#browse {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: saddlebrown;
    color: white;
    cursor: pointer;
}

#container {
    margin-top: 10px;
    width: 60%;
    font-size: 22px;
    margin: auto;
}