body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(55, 90, 58);
    text-align: center;
}

img {
    width: 500px;
    height: 300px;
}

#browse {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(124, 141, 151);
    color: white;
    cursor: pointer;
}

#homepage {
    margin-left: 30px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(122, 136, 172);
    color: white;
    cursor: pointer;
}

#container {
    margin-top: 10px;
    width: 60%;
    font-size: 22px;
    margin: auto;
}